<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.streethawk.locations" version="1.8.7" xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>StreetHawkLocations</name>
	<description>StreetHawk SDK plugin for running user's location based campaigns</description>	    
    <license>Apache 2.0</license>
    <keywords>push,messaging,deeplinking,referral,analytics,geofencing,beacons,marketing,automation,organic growth,feeds</keywords>
		
	<platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
			<feature name="locations">
				<param name="android-package" value="com.streethawk.locations.locations"/>
			</feature>
		</config-file>
		
		<framework src="com.streethawk.phonegap:locations:1.8.5" />
		<framework src="com.google.android.gms:play-services-location:10.2.1" />
		
		<config-file parent="/manifest" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    		<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		</config-file>
		<config-file parent="/manifest/application" target="AndroidManifest.xml">
		 <service
            android:name="com.streethawk.library.locations.StreethawkLocationService"
            android:enabled="true"
            android:exported="true"></service>
        <receiver
            android:name="com.streethawk.library.locations.LocationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.streethawk.intent.action.gcm.STREETHAWK_LOCATIONS" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>
		</config-file>  
		<!--
		<source-file src="src/android/streethawklocation.jar" target-dir="libs/"/>
		-->
	</platform>
	<platform name="ios">
		
		<!-- Enable preprocessor macro SH_FEATURE_LATLNG -->
		<hook type="after_plugin_install" src="src/ios/Script/enable_feature.js" />
		<hook type="before_plugin_uninstall" src="src/ios/Script/disable_feature.js" />
		
		<!-- Plugin native SDK -->
        <header-file src="src/ios/SDK/Location/Private/SHLocationBridge.h" />
        <source-file src="src/ios/SDK/Location/Private/SHLocationBridge.m" />
		
	</platform>
	<info>
	 StreetHawk Locations plugin depends on StreetHawk core plugin. 
	 Install core plugin by using command
	  
	 cordova plugin add streethawkanalytics --variable APP_KEY=APP_KEY --variable URL_SCHEME=SCHEME
	
	Note: In the above command replace 
	APP_KEY with your application's app_key.
	SCHEME with your application's deeplink scheme.
	
	</info>
</plugin>
